
[user]
name = Tom Corrigan
email = tom.corrigan@catch.com.au
[core]
	excludesfile = /Users/TomCorrigan/.gitignore_global
	autocrlf = input
[color]
	ui = true
[help]
	autocorrect = 1
[rebase]
	autoStash = true
	autosquash = true
[fetch]
	prune = true
[alias]
	co = checkout
	ci = commit
	st = status
	rb = rebase
[diff]
	indentHeuristic = on
[init]
	templatedir = ~/.git_template
	defaultBranch = master
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[credential]
	helper = cache --timeout=3600
[commit]
	gpgsign = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
